<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMEE4zDiVtlN-zHWdIDPHRNxVZm3dIRFg</string>
	<key>GCM_SENDER_ID</key>
	<string>857234522736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raywenderlich.grocr</string>
	<key>PROJECT_ID</key>
	<string>grocr-3e51d</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-3e51d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857234522736:ios:b9f790d07789af7906eab5</string>
</dict>
</plist>